<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>

  <body>
    {{> header}}

    <p>Enter some projects information here</p>

    {{> footer}}
  </body>

</html>
